[submodule "bgfx"]
	path = bgfx
	url = https://github.com/preetishkakkar/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/preetishkakkar/bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/preetishkakkar/bimg.git
